html {
    box-sizing: border-box;
    font-display: optional;
    font-family: Trebuchet MS, Arial, Helvetica, sans-serif;
}

body {
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    margin: 0;
}

h1 {
    background-color: #0b559b;
    color: snow;
    width: 100%;
    height: 1.5em;
    margin: 0;
    padding: 1em;
    font-size: 3em;
}

.panel {
    margin: 0 1em;
}

.connection {
    position: relative;
    border: 1px solid darkgrey;
    border-radius: 3px;
    margin: 1em 0;
    padding: 1em;
}

#connect {
    position: absolute;
    right: 1em;
    top: 1em;
}

button, input[type="submit"] {
    height: 2em;
    background-color: #b5c9e6;
    border: none;
    border-radius: 3px;
}

input[type="submit"] {
    width: 5em;
    height: 1.3em;
    font-size: 2rem;
}

#form {
    border: 1px solid darkgrey;
    border-radius: 3px;
    margin: 1em 0;
    padding: 1em;
}

#text {
    width: calc(100% - 6em);
    font-size: 2rem;
    text-transform: uppercase;
}

.error #status {
    color: red;
}

.error #form {
    display: none;
}
